<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('tipsPage.static', filename='/css/tipsPage.css') }}" >

    <title>עינת עשהאל-טיפים והמלצות</title>
</head>
<body>
<div class="grid-container" >

   <!--Header & Logo & Click Bar-->
      {% include 'header.html' %}

    <!--Page content-->
        <div class="page"><br> טיפים והמלצות
                 <br>
            <ol style="text-align: center;">
                <br><br>

            <li> חשוב לאכול כשרעבים ולעצור כששבעים </li>
                <p>
                 <br>             כל אחד צריך להיות קשוב לעצמו ולהתייחס למצב בו הוא רעב ולמצב בו הוא שבע.
כאשר הוא רעב חשוב שיקשיב לעצמו, וידע להבחין למה הוא רעב ולכמה.
                </p>
                 <br><br> <br><br>

            <li>הצורך למתוק הוא צורך אמיתי!!!! </li>
                <p>
                 <br>הגוף זקוק למתוק. לדוגמא, אחר הצהריים יורד ריכוזו של הורמון הסרוטונין שאחראי על מצב הרוח והמתוק מעלה אותו
                </p>
                 <br><br> <br><br>

            <li> פעילות ספורטיבית</li>
                <p><br>
עוזרת לתפקוד הלב, עוזרת להזרמה טובה של החמצן בגוף, ומסייעת בבניית רקמת שריר ומבזבז אנרגיה שזה בעצם הקלוריות.
                </p>
                 <br><br> <br><br>

            <li> מה שחשוב זה הכמות והאם אני רעב</li>
                <p><br>
כל גוף בנוי שונה ולכן לא נכון להקשיב למילים "זה לא בריא" כי זה תלוי בגוף.<br>הרבה פעמים אנשים נמנעים ממאכלים שתורמים כמות גדולה של קלוריות לסל הקלוריות היומי. איך אין זה אומר שאכילה של מאכלים אלו תוביל שמישרין להשמנה.
                </p>
                 <br><br> <br><br>

            <li>תספקו לגוף שלכם את מה שהוא מבקש</li>
                <p><br>
חשוב לדעת להבין מתי אני רעב ומתי אני שבע – כך נוכל להנות מכל מה שאנחנו אוהבים לאכול וכמה שהגוף שלנו באמת רוצה. <br>בדרך זו אנו חוסכים מהגוף שלנו לייצר חסך ובהמשך סטרס ודחף לאכול את מה שנמנע ממנו.
                </p>
                 <br><br> <br><br>

            <li>אל תתבססו על תפריטים</li>
                <p><br>
תפריטים מתערבים באופן חיצונים במהלכים ובצרכים של גוף המטופל.<br> התפריטים מקבעים ומגבילים את המטופל באופן אכילתו וכך עלול להתפתח חסך וחשקים עזים וכך דחף שמשבש את התהליכים הטבעיים של הגוף.
                </p>
                 <br><br> <br><br>

            <li>כל אחד והגוף שלו</li>
                <p><br>
לכל אדם יש את הגוף שלו ומה שבריא לו. תתאימו את התזונה לצרכי הגוף האישי שלכם ולא ל"בריא" הרווח בחברה.
                </p>
               <br><br> <br><br>


            <li>לא להרעיב את הגוף</li>
                <p><br>
חשוב תמיד להרגיש שובע ולא להגיע למצב של רעב.
                </p>
                <br><br><br><br>


            <b>אז בקיצור- לא לפחד מאוכל! והכי חשוב להקשיב לעצמך! זאת הדרך לחיים מאושרים ונעימים ⊛</b>
                <br>
            </ol>
            <style>
                .page li{
                    font-size: 80%;
                }

                .page p{
                    font-size: 70%;
                }
            </style>
        </div>

          <!--contact bar (footer)-->
            {% include 'footer.html' %}

</div>
</body>
</html>