<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('approachPage.static', filename='/css/approachPage.css') }}" >
    <title>עינת עשהאל-גישות טיפול</title>
</head>
<body>
<div class="grid-container" >

    <!--Header & Logo & Click Bar-->
      {% include 'header.html' %}

    <!--Page content-->
        <div class="page"><br>
            <h2>גישת הטיפול</h2>
                <p>
                    <br><br><br>הטיפול שלי מתבסס על הקשר בין הגוף והנפש, במהלכו אני קשובה לצרכיו הנפשיים של המטופל אשר מספק אותם דרך האוכל.<br><br><br><br><br>

                    איני נותנת תפריטים כיוון שהם "מתערבים" באופן חיצוני במהלכי וצרכי גוף המטופל,<br><br>
                                        אלא מלמדת כל מטופל להקשיב לצרכים הללו, לדעת להבין מתי הוא רעב ומתי הוא שבע - כך הוא יכול להנות מכל מה שהוא אוהב לאכול וכמה שהוא רוצה.<br><br>
                                        בדרך זו הוא חוסך מהגוף שלו לייצר חסך ובהמשך סטרס ודחף לאכול את מה שנמנע ממנו.<br><br><br><br><br>

                    אני מתבססת בנוסף על הידיעה כי כל גוף זקוק לכמות מסוימת של קלוריות ליום המשתנה בין גוף לגוף. במידה ואוכלים מעבר לכמות הזאת, תהיה עלייה במשקל ולהפך. אך לא בעקבות מה שנאכל..<br><br>

                    אני מסבירה שגם אם נאכל מזונות שתורמים יותר לסל הקלוריות היומי זה לאו דווקא גורר לכך שהגוף יקבל מכסת קלוריות עודפת וישמין וזאת מפני שמאכלים אלה הם יותר משביעים ונהיה פחות רעבים במהלך היום.<br><br>
                                        לא חשוב מה אוכלים, חשוב כמה והאם היינו רעבים.
                    כמובן עבור כאלה עם כולסטרול גבוה זה סיפור אחר, אבל עבור אדם עם כולסטרול תקין אין בהכרח שמאכל שומני אינו בריא לו.
                </p>
        </div>

            <style>
            .page p{
                font-size: 75%;
            }
            </style>

    <!--contact bar (footer)-->
        {% include 'footer.html' %}
   </div>
</body>
</html>