<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="{{ url_for('aboutPage.static', filename='/css/aboutPage.css') }}" >
    <script src={{ url_for('personalStoryPage.static', filename='/js/personalStoryPage.js') }} > </script>

    <title>עינת עשהאל- אודות</title>
</head>
<body>
<div class="grid-container" >

    <!--Header & Logo & Click Bar-->
      {% include 'header.html' %}

   <!--Page content-->
                {% for message in get_flashed_messages() %}
                            <p>{{ message }}</p>
                        {% endfor %}
        <div class="page"><br> התחברות
                <div class="login-box"><br>
                    <form action="/signIn" method="POST">

			            <input type="text" class="field" name ="email" required autocomplete="name" placeholder="שם משתמש">
				        <input type="password" class="field" name="password" placeholder="סיסמא" required autocomplete="password">
				        <button class="btn" type="submit" onclick="window.location.href='7_myAreaPage.html'">התחבר</button>
                    </form>

                    <form action="/singUp">
                          <button class="btn" onclick="window.location.href='7.2_SignUpPage.html'">הירשם עכשיו!</button>
                    </form>

                    {% block singUp %}
                    {% endblock %}
                <br>
                </div>
        </div>

    <!--contact bar (footer)-->
        {% include 'footer.html' %}

   </div>

</body>
</html>