<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href={{ url_for('personalStoryPage.static', filename='/css/personalStoryPage.css') }} >

    <title>עינת עשהאל- סיפורי הצלחה</title>

    <script src={{ url_for('personalStoryPage.static', filename='/js/personalStoryPage.js') }} > </script>

</head>
<body>
<div class="grid-container" >


    <!--Header & Logo-->
             <div class="header"  >
            <h1 style="font-size:100%; color: #dd6c9f"><img src="{{ url_for('personalStoryPage.static', filename='/media/piclogo.png') }}" alt="Logo Picture" width="5%"> עינת עשהאל - דיאטנית קלינית &#9</h1>
        </div>

    <!--Click Bar-->
    <div class="headerMenu" >
                        <ul class = "Navbar" >

                            <div class="column"><li><a href="1_homePage.html" width="16.6%" style="float: left ">ראשי</a> </li> </div>

                            <div class="column"><li><a href="2_aboutPage.html" width="16.6%" style="float: left ">אודות</a> </li> </div>

                            <div class="column"> <li><a href="3_approachPage.html" width="16.6%" style="float: left ">גישת הטיפול</a></li> </div>

                            <div class="column"><li><a href="4_tipsPage.html" width="16.6%" style="float: left "> טיפים והמלצות</a></li></div>

                            <div class="column"> <li><a href="5_personalStoriesPage.html" width="16.6%" style="float: left ">סיפורי הצלחה</a></li></div>

                            <div class="column">  <li><a href="6_forumPage.html" width="16.6%" style="float: left ">פורום</a></li>  </div>

                            <div class="column">   <li><a href="7.1_login.html" width="16.6%" style="float: left ">איזור אישי</a></li> </div>

                            <div class="column">  <li><a href="8_contactPage.html" width="16.6%" style="float: left ">יצירת קשר</a></li> </div>

                            <div class ="button">
                            <button class="glow-on-hover" type="button" onclick="window.location.href='9_schedulePage.html';" style="font-family:'Baskerville Old Face' ; float: right">קביעת תור  </a></button>
                            </div>

                        </ul>
                    </div>

    <!--Page content-->
        <div class="page"><br>סיפורי הצלחה<br><br>
                                                <!--1 STORY-->
             <span>
                <p id = "p1" onmouseover="this.style.color='lightblue'"
                onmouseout="this.style.color='white'">
                <img src="../images/1.png" width="60" class="img-circle" /><br>
                    מיכל, 42 חיפה<br>
                    בזכות עינת הצלחתי לעמוד במטרות שהצבתי לעצמי. החיים שלי השתנו מקצה לקצה.
                 <br>
                </p>
                <!--change function by press the button, from script5.1-->
                <input onclick="change1()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton1">
            </span>

                                                       <!--2 STORY-->
             <span >
                <p id = "p2" onmouseover="this.style.color='lightblue'"
                onmouseout="this.style.color='white'">
                <img src="../images/2.jpg" width="60" class="img-circle" /><br>
                     יובל, 23 כפר סבא<br>
                    בזכות עינת הצלחתי לעמוד במטרות שהצבתי לעצמי. החיים שלי השתנו מקצה לקצה.
                 <br>
                </p>
                <!--change function by press the button, from script5.1-->
                <input onclick="change2()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton2">
            </span>

                                                       <!--3 STORY-->
             <span >
                <p id = "p3" onmouseover="this.style.color='lightblue'"
                onmouseout="this.style.color='white'">
                <img src="../images/2.1.jpg" width="60" class="img-circle" /><br>
                     רון, 25 רמת גן<br>
                    עינת קשובה לכל בעיה, הפגישות איתה תמיד לימדו אותי דברים חדשים שקל לי ליישם ביומיום.
                 <br>
                </p>
                <!--change function by press the button, from script5.1-->
                <input onclick="change3()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton3">
            </span>

                                                       <!--4 STORY-->
             <span >
                <p id = "p4" onmouseover="this.style.color='lightblue'"
                onmouseout="this.style.color='white'">
                <img src="../images/4.jpg" width="60" class="img-circle" /><br>
                  ירון, 38 רחובות<br>
                בזכות השיטה הייחודית של עינת הצלחתי לשנות את הרגלי התזונה שלי. מרגיש אנרגטי יותר.

                 <br>
                </p>
                <!--change function by press the button, from script5.1-->
                <input onclick="change4()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton4">
            </span>

                                                       <!--5 STORY-->
             <span >
                <p id = "p5" onmouseover="this.style.color='lightblue'"
                onmouseout="this.style.color='white'">
                <img src="../images/5.jpg" width="60" class="img-circle" /><br>
                משה, 52 שובל<br>
                כאדם טבעוני תמיד התקשתי ליצור לי תפריט מאוזן. עינת עזרה לי מאוד לבנות תפריט נכון עבורי.

                 <br>
                </p>
                <!--change function by press the button, from script5.1-->
                <input onclick="change5()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton5">
            </span>

                                                       <!--6 STORY-->
             <span >
                <p id = "p6" onmouseover="this.style.color='lightblue'"
                onmouseout="this.style.color='white'">
                <img src="../images/6.jpg" width="60" class="img-circle" /><br>
                   נועה, 28 נתניה<br>
                התפריט שעינת בנתה לי מלווה אותי כבר מספר חודשים. אני מאוד אוהבת את הגיוון שהיא הכניסה בו.

                 <br>
                </p>
                <!--change function by press the button, from script5.1-->
                <input onclick="change6()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton6">
            </span>

                                                       <!--7 STORY-->
             <span >
                <p id = "p7" onmouseover="this.style.color='lightblue'"
                onmouseout="this.style.color='white'">
                <img src="../images/7.jpg" width="60" class="img-circle" /><br>
                        רחל, 44 ראשון לציון<br>
                עינת אלופה. תמיד אפשר להתייעץ איתה. נותנת את כל הכלים שצריך בשביל להצליח ובגדול.
                 <br>
                </p>
                <!--change function by press the button, from script5.1-->
                <input onclick="change7()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton7">
            </span>








        </div>

    <!--contact bar-->
        <div class="contact"> <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
            <div class="wrapper" style="background-color: #002bff">
            <ul>
                <li class="facebook"><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                <li class="instagram"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                <li class="google"><a href="#"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>
                <li class="whatsapp"><a href="#"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>

              </ul>
            </div>
        </div>

   </div>

</body>
</html>





















