<!DOCTYPE html>
<html dir="rtl" lang="he">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href={{ url_for('personalStoryPage.static', filename='/css/personalStoryPage.css') }} >

        <title>עינת עשהאל- סיפורי הצלחה</title>

        <script src={{ url_for('personalStoryPage.static', filename='/js/personalStoryPage.js') }} > </script>
    </head>

    <body>
    <div class="grid-container" >

       <!--Header & Logo-->
       <div class="header"  >
            <h1 style="font-size:100%; color: #dd6c9f"><img src="{{ url_for('homePage.static', filename='/media/piclogo.png') }}" alt="Logo Picture" width="5%"> עינת עשהאל - דיאטנית קלינית &#9</h1>
       </div>
       <!--Click Bar-->
       <div class="headerMenu" >
                            <ul class = "Navbar" >

                                <div class="column"><li><a href='/' width="16.6%" style="width:100%">ראשי</a> </li> </div>

                                <div class="column"><li><a href='/aboutPage' width="16.6%" style="width:100%">אודות</a> </li> </div>

                                <div class="column"> <li><a href='/approachPage' width="16.6%" style="width:100%">גישת הטיפול</a></li> </div>

                                <div class="column"><li><a href='/tipsPage' width="16.6%" style="width:100%"> טיפים והמלצות</a></li></div>

                                <div class="column"> <li><a href='/personalStoryPage'  width="16.6%" style="width:100%">סיפורי הצלחה</a></li></div>

                                <div class="column">  <li><a href='/forumPage' width="16.6%" style="width:100%">פורום</a></li>  </div>
    {#
                                <div class="column">   <li><a href='/forumPage' width="16.6%" style="width:100%">איזור אישי</a></li> </div>
    #}
                                <div class="column">  <li><a href='/contactPage' width="16.6%" style="width:100%">יצירת קשר</a></li> </div>

                                <div class ="button">
                                <button class="glow-on-hover" type="button" onclick="window.location.href='/schedulePage';" style="float: right">קביעת תור  </a></button>
                                </div>
                            </ul>
                        </div>

        <!--Page content-->
            <div class="page"><br>סיפורי הצלחה<br><br>
                                                    <!--1 STORY-->
                 <span>
                    <p id = "p1" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/1.png') }}" width="60" class="img-circle" /><br>
                        מיכל, 42 חיפה<br>
                        בזכות עינת הצלחתי לעמוד במטרות שהצבתי לעצמי. החיים שלי השתנו מקצה לקצה.
                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change1()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton1">
                </span>

                                                           <!--2 STORY-->
                 <span >
                    <p id = "p2" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/2.jpg') }}" width="60" class="img-circle" /><br>
                         יובל, 23 כפר סבא<br>
                        בזכות עינת הצלחתי לעמוד במטרות שהצבתי לעצמי. החיים שלי השתנו מקצה לקצה.
                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change2()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton2">
                </span>

                                                           <!--3 STORY-->
                 <span >
                    <p id = "p3" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/2.1.jpg') }}" width="60" class="img-circle" /><br>
                         רון, 25 רמת גן<br>
                        עינת קשובה לכל בעיה, הפגישות איתה תמיד לימדו אותי דברים חדשים שקל לי ליישם ביומיום.
                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change3()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton3">
                </span>

                                                           <!--4 STORY-->
                 <span >
                    <p id = "p4" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/4.jpg') }}" width="60" class="img-circle" /><br>
                      ירון, 38 רחובות<br>
                    בזכות השיטה הייחודית של עינת הצלחתי לשנות את הרגלי התזונה שלי. מרגיש אנרגטי יותר.

                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change4()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton4">
                </span>

                                                           <!--5 STORY-->
                 <span >
                    <p id = "p5" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/5.jpg') }}" width="60" class="img-circle" /><br>
                    משה, 52 שובל<br>
                    כאדם טבעוני תמיד התקשתי ליצור לי תפריט מאוזן. עינת עזרה לי מאוד לבנות תפריט נכון עבורי.

                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change5()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton5">
                </span>

                                                           <!--6 STORY-->
                 <span >
                    <p id = "p6" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/6.jpg') }}" width="60" class="img-circle" /><br>
                       נועה, 28 נתניה<br>
                    התפריט שעינת בנתה לי מלווה אותי כבר מספר חודשים. אני מאוד אוהבת את הגיוון שהיא הכניסה בו.

                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change6()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton6">
                </span>

                                                           <!--7 STORY-->
                 <span >
                    <p id = "p7" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/7.jpg') }}" width="60" class="img-circle" /><br>
                            רחל, 44 ראשון לציון<br>
                    עינת אלופה. תמיד אפשר להתייעץ איתה. נותנת את כל הכלים שצריך בשביל להצליח ובגדול.
                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change7()"






                           style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton7">
                </span>

            </div>

     <!--contact bar-->
        <div class="contact"> <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
            <div class="wrapper" style="background-color: #002bff">
                <ul>
                    <li class="facebook"><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                    <li class="twitter"><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                    <li class="instagram"><a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                    <li class="google"><a href="https://www.google.com/" target="_blank"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>
                    <li class="whatsapp"><a href="https://www.whatsapp.com/" target="_blank"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
       </div>

    </body>
</html>





















