<!DOCTYPE html>
<html dir="rtl" lang="he">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href={{ url_for('personalStoryPage.static', filename='/css/personalStoryPage.css') }} >
        <title>עינת עשהאל- סיפורי הצלחה</title>
        <script src={{ url_for('personalStoryPage.static', filename='/js/personalStoryPage.js') }} > </script>
    </head>

    <body>
    <div class="grid-container" >

        <!--Header & Logo & Click Bar-->
          {% include 'header.html' %}

        <!--Page content-->
            <div class="page"><br>סיפורי הצלחה<br><br>
                                                    <!--1 STORY-->
                 <span>
                    <p id = "p1" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/1.png') }}" width="60" class="img-circle" /><br>
                        מיכל, 42 חיפה<br>
                        בזכות עינת הצלחתי לעמוד במטרות שהצבתי לעצמי. החיים שלי השתנו מקצה לקצה.
                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change1()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton1">
                </span>

                                                           <!--2 STORY-->
                 <span >
                    <p id = "p2" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/2.jpg') }}" width="60" class="img-circle" /><br>
                         יובל, 23 כפר סבא<br>
                        בזכות עינת הצלחתי לעמוד במטרות שהצבתי לעצמי. החיים שלי השתנו מקצה לקצה.
                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change2()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton2">
                </span>

                                                           <!--3 STORY-->
                 <span >
                    <p id = "p3" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/2.1.jpg') }}" width="60" class="img-circle" /><br>
                         רון, 25 רמת גן<br>
                        עינת קשובה לכל בעיה, הפגישות איתה תמיד לימדו אותי דברים חדשים שקל לי ליישם ביומיום.
                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change3()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton3">
                </span>

                                                           <!--4 STORY-->
                 <span >
                    <p id = "p4" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/4.jpg') }}" width="60" class="img-circle" /><br>
                      ירון, 38 רחובות<br>
                    בזכות השיטה הייחודית של עינת הצלחתי לשנות את הרגלי התזונה שלי. מרגיש אנרגטי יותר.

                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change4()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton4">
                </span>

                                                           <!--5 STORY-->
                 <span >
                    <p id = "p5" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/5.jpg') }}" width="60" class="img-circle" /><br>
                    משה, 52 שובל<br>
                    כאדם טבעוני תמיד התקשתי ליצור לי תפריט מאוזן. עינת עזרה לי מאוד לבנות תפריט נכון עבורי.

                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change5()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton5">
                </span>

                                                           <!--6 STORY-->
                 <span >
                    <p id = "p6" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/6.jpg') }}" width="60" class="img-circle" /><br>
                       נועה, 28 נתניה<br>
                    התפריט שעינת בנתה לי מלווה אותי כבר מספר חודשים. אני מאוד אוהבת את הגיוון שהיא הכניסה בו.

                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change6()" style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton6">
                </span>

                                                           <!--7 STORY-->
                 <span >
                    <p id = "p7" onmouseover="this.style.color='lightblue'"
                    onmouseout="this.style.color='white'">
                    <img src="{{ url_for('homePage.static', filename='/media/7.jpg') }}" width="60" class="img-circle" /><br>
                            רחל, 44 ראשון לציון<br>
                    עינת אלופה. תמיד אפשר להתייעץ איתה. נותנת את כל הכלים שצריך בשביל להצליח ובגדול.
                     <br>
                    </p>
                    <!--change function by press the button, from script5.1-->
                    <input onclick="change7()"

                           style="background-color:#f3a1c7; color: black " type="button" value="Read More" id="myButton7">
                </span>
            </div>

        <!--contact bar (footer)-->
            {% include 'footer.html' %}
       </div>
    </body>
</html>





















