
{% extends 'schedulePage.html' %}

{% block calendar %}

{% for message in get_flashed_messages() %}
                            <p>{{ message }}</p>
                        {% endfor %}


        <!--Page content-->
<form action="/chooseDate" method="post">

<h1>בחר תאריך</h1>

   <select name="getMonth">
        {% for option in answer %}
            <option name="chosenDate" value="{{ option.availableDT.year }}-{{ option.availableDT.month }}-{{ option.availableDT.day }} {{ option.availableDT.hour }}:{{ option.availableDT.minute }}:{{ option.availableDT.second }}">
             {{ option.availableDT.day }}.{{ option.availableDT.month }}.{{ option.availableDT.year }}  {{ option.availableDT.hour }}:{{ option.availableDT.minute }} <br>
            </option>
        {% endfor %}
   </select>


    <button class="btn" type="submit" > בדוק זמינות </button>

</form>

    <div>
        <h3> תורים שנקבעו :</h3>
    {{ check }}
    </div>


        <!--contact bar-->





{% endblock %}