
{% extends 'schedulePage.html' %}

{% block calendar %}
   <div class="page"><br>קביעת תורים
<br><br>
       <!--Page content-->
        <form action="/chooseDate" method="post">

        <h3 style=" width:14%; background-color: #cd8d3f; text-align: right">בחר תאריך:</h3>

           <select name="getMonth">
                {% for option in answer %}
                    <option name="chosenDate" value="{{ option.availableDT.year }}-{{ option.availableDT.month }}-{{ option.availableDT.day }} {{ option.availableDT.hour }}:{{ option.availableDT.minute }}:{{ option.availableDT.second }}">
                     {{ option.availableDT.day }}.{{ option.availableDT.month }}.{{ option.availableDT.year }}  {{ option.availableDT.hour }}:{{ option.availableDT.minute }} <br>
                    </option>
                {% endfor %}
           </select>
            <button class="btn" type="submit" > קביעת תור </button>
        </form>

            <div>
                 <br>
                <h3 style=" width:14%; background-color: #7577ea; text-align: right"> תורים שנקבעו:</h3>
            <ol>
                {% for date in check %}
                    <li>
                    {{ date.futureMeetingDT.year }}-{{ date.futureMeetingDT.month }}-{{ date.futureMeetingDT.day }} {{ date.futureMeetingDT.hour }}:{{ date.futureMeetingDT.minute }}:{{ date.futureMeetingDT.second }}
                    </li>
                {% endfor %}
            </ol>

            </div>

     </div>

{% endblock %}

  {#{% for message in get_flashed_messages() %}
                                    <p>{{ message }}</p>
                                {% endfor %}#}