<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="{{ url_for('contactPage.static', filename='/css/contactPage.css') }}" >
    <title>עינת עשהאל- קביעת תורים</title>
  </head>
  <body>
  <div class="grid-container" >

      <!--Header & Logo & Click Bar-->
      {% include 'header.html' %}

    <!--Page content-->
        {% block calendar %}
            <div class="page"><br>קביעת תורים
                 <h1 > יש להתחבר לאתר לצורך קביעת תור</h1>
            </div>
        {% endblock%}

          <!--contact bar (footer)-->
            {% include 'footer.html' %}
  </div>

  </body>
</html>
