<!DOCTYPE html>
<html dir="rtl" lang="he">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="{{ url_for('schedulePage.static', filename='/css/schedulePage.css') }}" >
    <title>עינת עשהאל- קביעת תורים</title>


  </head>

  <body>
    <div class="grid-container" id="container" >

    <!--Header & Logo-->
    <div class="header"  >
        <h1 style="font-size:100%; color: #dd6c9f"><img src="{{ url_for('homePage.static', filename='/media/piclogo.png') }}" alt="Logo Picture" width="5%"> עינת עשהאל - דיאטנית קלינית &#9</h1>
    </div>

   <!--Click Bar-->
    <div class="headerMenu" >
                        <ul class = "Navbar" >

                            <div class="column"> <li><a href='/' width="16.6%" style="width:100%">ראשי</a></li> </div>

                            <div class="column"> <li><a href='/aboutPage' width="16.6%" style="width:100%">אודות</a> </li> </div>

                            <div class="column"> <li><a href='/approachPage' width="16.6%" style="width:100%">גישת הטיפול</a></li> </div>

                            <div class="column"> <li><a href='/tipsPage' width="16.6%" style="width:100%"> טיפים והמלצות</a></li></div>

                            <div class="column"> <li><a href='/personalStoryPage'  width="16.6%" style="width:100%">סיפורי הצלחה</a></li></div>

                            <div class="column">  <li><a href='/forumPage' width="16.6%" style="width:100%">פורום</a></li>  </div>
{#
                            <div class="column">  <li><a href='/forumPage' width="16.6%" style="width:100%">איזור אישי</a></li> </div>
#}
                            <div class="column">  <li><a href='/contactPage' width="16.6%" style="width:100%">יצירת קשר</a></li> </div>

                            <div class ="button">
                            <button class="glow-on-hover" type="button" onclick="window.location.href='/schedulePage';" style="float: right">קביעת תור</button>
                            </div>
                        </ul>
     </div>

        {% block calendar %}
            <h3> Not logged in</h3>
        {% endblock%}
  </body>
</html>
