{% extends 'homepage.html' %}

{% block details %}


     <form action="/updateDetails" METHOD="POST">
                            <input type="number" class="field" name="clientID" value="{{ user[0][0] }}" disabled autocomplete="id" placeholder="תעודת זהות (6 ספרות אחרונות)">
                            <input type="text" class="field" name="firstName"  value="{{ user[0][1] }}" autocomplete="firstname" placeholder="שם פרטי">
                            <input type="text" class="field" name="lastName"  value="{{ user[0][2] }}" autocomplete="lastname" placeholder="שם משפחה">
                            <input type="text" class="field" name="gender"  value="{{ user[0][3] }}" autocomplete="gender" placeholder="מין">
                            <input type="text" class="field" name="phoneNumber"  value="{{ user[0][4] }}" autocomplete="phone" placeholder="טלפון">
                            <input type="text" class="field" name="email"  value="{{ user[0][5] }}" autocomplete="email" placeholder="כתובת מייל">
                            <input type="text" class="field" name="address"  value="{{ user[0][6] }}" autocomplete="address" placeholder="כתובת מגורים">
                            <input type="password" class="field" name="password"  value="{{ user[0][7] }}" autocomplete="password" placeholder="סיסמה">

       				        <button class="btn" type="submit" >עדכן פרטים</button>
        </form>



{% for message in get_flashed_messages() %}
                    <p>{{ message }}</p>
{% endfor %}







{% endblock %}