<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('contactPage.static', filename='/css/contactPage.css') }}" >
    <title>עינת עשהאל- יצירת קשר</title>
</head>
<body>
{#<script src="../js/script6_forum.js"></script>#}
<div class="grid-container" >

    <!--Header & Logo-->
        <div class="header" >
            <h1><img src="../../pages/homePage/static/media/piclogo.png" alt="Logo Picture" width="5%"> עינת עשהאל - דיאטנית קלינית</h1>
        </div>

    <!--Click Bar-->
    <div class="headerMenu" >
                        <ul class = "Navbar" >

                            <div class="column"><li><a href="../../pages/homePage/templates/1_homePage.html" width="16.6%" style="float: left ">ראשי</a> </li> </div>

                            <div class="column"><li><a href="2_aboutPage.html" width="16.6%" style="float: left ">אודות</a> </li> </div>

                            <div class="column"> <li><a href="3_approachPage.html" width="16.6%" style="float: left ">גישת הטיפול</a></li> </div>

                            <div class="column"><li><a href="4_tipsPage.html" width="16.6%" style="float: left "> טיפים והמלצות</a></li></div>

                            <div class="column"> <li><a href="5_personalStoriesPage.html" width="16.6%" style="float: left ">סיפורי הצלחה</a></li></div>

                            <div class="column">  <li><a href="6_forumPage.html" width="16.6%" style="float: left ">פורום</a></li>  </div>

                            <div class="column">   <li><a href="7.1_login.html" width="16.6%" style="float: left ">איזור אישי</a></li> </div>

                            <div class="column">  <li><a href="8_contactPage.html" width="16.6%" style="float: left ">יצירת קשר</a></li> </div>

                            <div class ="button">
                            <button class="glow-on-hover" type="button" onclick="window.location.href='9_schedulePage.html';" style="font-family:'Baskerville Old Face' ; float: right">קביעת תור  </a></button>
                            </div>
                        </ul>
                    </div>

    <!--Page content-->
        <div class="page"><br> יצירת קשר
            <div class="contact-grid">
                <div class="contact-box">
			            <input type="text" class="field" required autocomplete="name" placeholder="שם">
				        <input type="email" class="field" placeholder="כתובת מייל" required autocomplete="email">
				        <input type="tel" class="field" placeholder="טלפון" pattern="[0-9]{3}-[0-9]{7}" required>
				        <textarea placeholder="תוכן הפנייה" class="field" required></textarea>
				        <button class="btn" type="submit" onclick="MessBox_contactMe(document.getElementById('Phone').value, document.getElementById('Email').value, document.getElementById('Comment').value)">שלח</button>
			    </div>
                    <ul class="details">
                        <li>
                            <span class="detail-content">הכלנית 7 סביון</span>
                            <span class="detail-type">כתובת הקליניקה</span>
                            <span class="detail-emoji">&#127968;</span>
                        </li>
                        <li>
                            <span class="detail-content">054-4723047</span>
                            <span class="detail-type">מספר טלפון</span>
                            <span class="detail-emoji">&#128222</span>
                        </li>
                        <li>
                            <span class="detail-content">whatsapp - ב </span>
                            <span class="detail-type">אפשר גם</span>
                            <span class="detail-emoji"><img src="https://image.freepik.com/free-vector/whatsapp-icon-design_23-2147900927.jpg" height="30" sizes="30" onclick="openWhatsApp()"></span>
                        </li>
                        <li>
                            <span class="detail-content">einata14@gmail.com</span>
                            <span class="detail-type">כתובת מייל</span>
                            <span class="detail-emoji">&#128231;</span>
                        </li>
                    </ul>
		    </div>
        </div>

    <!--contact bar-->
        <div class="contact"> <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
            <div class="wrapper" style="background-color: #002bff">
            <ul>
                <li class="facebook"><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                <li class="instagram"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                <li class="google"><a href="#"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>
                <li class="whatsapp"><a href="#"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>

              </ul>
            </div>
        </div>

   </div>
<!--3contact form-->
        <div class="cont">
            <form>


                <div class="column"><a>
                     <label for="FullName"></label>
                     <input type="text" id="FullName" name="FullName" placeholder="Full Name" width="30%" style=" color: white; width: 100%;"  required>
                </a></div>

                <div class="column"><a
                    ><label for="Phone"></label>
                    <input type="text" id="Phone" name="Phone" placeholder="Phone Number"width="30%" style=" color: white;width: 100%;"  >
                </a></div>

                <div class="column"><a
                    ><label for="Email"></label>
                    <input type="text" id="Email" name="Email" placeholder="Email Address" width="30%" style=" color: white; width: 100%;"  required>
                </a></div>

                <div class="comment"><a>
                    <label for="Comment"></label>
                    <textarea  id="Comment" name="Comment" cols="50" rows="4" placeholder="Write a comment .." width="60%" style=" color: white; width: 60%;" required></textarea>
                </a></div>

                <div class="column"><a>
                <button  >Send</button>
                </a></div>
            </form>
        </div>
</body>
</html>

<script>
//user-defined function to open and share web content on WhatsApp
function openWhatsApp() {
    window.open('whatsapp://send?text= c');
    }
</script>