<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('contactPage.static', filename='/css/contactPage.css') }}" >
    <title>עינת עשהאל- יצירת קשר</title>
    <script src={{ url_for('contactPage.static', filename='/js/contactPage.js') }} > </script>

</head>
<body>

<div class="grid-container" >

    <!--Header & Logo & Click Bar-->
      {% include 'header.html' %}

    <!--Page content-->
        <div class="page"><br> יצירת קשר
            <div class="contact-grid">
                <div class="contact-box">
                    <form action="/request" method="post">

                            <label for="name"></label>
                            <input type="text" class="field" id="name" name="name" placeholder="שם" required>
                            <label for="email"></label>
                            <input type="text" class="field" id="email" name="email" placeholder="כתובת מייל" required>
                            <label for="phonenumber"></label>
                            <input type="text" class="field" id="phonenumber" name="phonenumber" placeholder="טלפון">
                            <label for="contentrequest"></label>
                            <textarea  id="contentrequest" class="field" name="contentrequest" cols="50" rows="4" placeholder="תוכן הפנייה" width="60%"  required></textarea>
                            <button  type="submit" class="btn" onclick="MessBox_contactMe(document.getElementById('phonenumber').value, document.getElementById('email').value, document.getElementById('contentrequest').value)">שליחה</button>
                    </form>

                </div>

                   <!--contact form-->
            <form action="/request" method="post">

            </form>





























                    <ul class="details">
                        <li>
                            <span class="detail-content">הכלנית 7 סביון</span>
                            <span class="detail-type">כתובת הקליניקה</span>
                            <span class="detail-emoji">&#127968;</span>
                        </li>
                        <li>
                            <span class="detail-content">054-4723047</span>
                            <span class="detail-type">מספר טלפון</span>
                            <span class="detail-emoji">&#128222</span>
                        </li>
                        <li>
                            <span class="detail-content">whatsapp - ב </span>
                            <span class="detail-type">אפשר גם</span>
                            <span class="detail-emoji"><img src="https://image.freepik.com/free-vector/whatsapp-icon-design_23-2147900927.jpg" height="30" sizes="30" onclick="openWhatsApp()"></span>
                        </li>
                        <li>
                            <span class="detail-content">einata14@gmail.com</span>
                            <span class="detail-type">כתובת מייל</span>
                            <span class="detail-emoji">&#128231;</span>
                        </li>
                    </ul>
		    </div>
        </div>

      <!--contact bar (footer)-->
        {% include 'footer.html' %}

   </div>

</body>
</html>

<script>
//user-defined function to open and share web content on WhatsApp
function openWhatsApp() {
    window.open('whatsapp://send?text= c');
    }
</script>