* {
    background-color: hsla(166, 28%, 65%, 1);
    font-family: "Segoe UI Semibold";
    font-size: 100%;
    padding: 0;
    margin: 0;
}

root{
    --russian-violet: hsla(250, 78%, 11%, 1);
    --prussian-blue: hsla(213, 53%, 20%, 1);
    --y-in-mn-blue: hsla(219, 36%, 34%, 1);
    --green-sheen: hsla(166, 28%, 65%, 1);
    --key-lime: hsla(75, 86%, 83%, 1);

}
.body{
font-size: 100%;
}

.grid-container {

    grid-gap: 2px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 1.4fr 0.4fr;
    height: 100vh;
    grid-template-areas:
            'head head head head'
            'nava nava nava nava'
            'side cont cont pict'
            'con1 con1 con1 con1';
}

.header {
    grid-area: head;
    /*border: white solid;*/
    text-align: center;
    font-size: 200%;


}
       .headerMenu{
           grid-area: nava;
           align-content: center;
           border: white solid;
           text-align: left;
           font-size: 100%;

}

    /*   .headerMenu button{
           padding-right: 30px;
       }*/


.button{
    grid-area: butt;
    font-size: 40px;
    align-self: center;
}

.column{

    float: right ;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5%;
}

.image{
    grid-area: pict;
    /*border: white solid;*/
}

.personalStories{
    grid-area: side;
    /*
    border: white solid;
    */
    text-align: center;
    font-size: 150%;
}
.reccomands{
    grid-area: cont;
    /*border: white solid;*/
    text-align: center;
    font-size: 150%;
}

.reccomands-grid{
    display: grid;
    grid-template-areas: 'left right';
}

.reccomands-grid-left{
    grid-area: left;
}

.reccomands-grid-right{
    grid-area: right;
}
.image img{
    border-style: groove;
    padding-left: 100px;
}

.contact{
    grid-area: con1;
   /* border: white solid;
    text-align: center;*/
    margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  float: right;

}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
color: #ff7300;
}



body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #000;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    padding-right: 30px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;

}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #dd6c9f;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Let's style the wrapper in such away that,
it should always be at the center of the browser */
.wrapper {

}
/* Style the Un-order list by setting its list-style to none */
.wrapper ul {
  list-style: none;
}

/* Style the list items inside the UL list, by setting its width, height and line-height
  and float them to left and set its border and border-radius.
 */
.wrapper ul li {
  width: 75px;
  height: 75px;
  line-height: 75px;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  border: 5px solid hsla(166, 28%, 65%, 1);
  float: right;
  transition: all 0.5s ease;
}

/* Style the icons by setting its color and margin-top value to 20px
to align it properly */
.wrapper ul li .fa {
  color: #D8E2DC;
  margin-top: 20px;
  transition: all 0.5s ease;
}

/* Now target the specific li classes for styling and use box-shadow effect to border and text-shadow effect
  to icons for glowing effect and use transition property for smooth transition effect. */
/*facebook*/
.wrapper ul li:hover.facebook {
  border: 5px solid #3b5998;
  box-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-facebook {
  color: #3b5998;
  text-shadow: 0 0 15px #3b5998;
  transition: all 0.5s ease;
}

/*twitter*/
.wrapper ul li:hover.twitter {
  border: 5px solid #00aced;
  box-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-twitter {
  color: #00aced;
  text-shadow: 0 0 15px #00aced;
  transition: all 0.5s ease;
}

/* instagram */
.wrapper ul li:hover.instagram {
  border: 5px solid #bc2a8d;
  box-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-instagram {
  color: #bc2a8d;
  text-shadow: 0 0 15px #bc2a8d;
  transition: all 0.5s ease;
}

/* google */
.wrapper ul li:hover.google {
  border: 5px solid #dd4b39;
  box-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-google {
  color: #dd4b39;
  text-shadow: 0 0 15px #dd4b39;
  transition: all 0.5s ease;
}

/* whatsapp */
.wrapper ul li:hover.whatsapp {
  border: 5px solid #4dc247;
  box-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}

.wrapper ul li:hover .fa-whatsapp {
  color: #4dc247;
  text-shadow: 0 0 15px #4dc247;
  transition: all 0.5s ease;
}


/* media queries */

@media screen and (max-width: 640px){
  .wrapper {
      width: 350px;
  }
  .wrapper ul li{
      margin-top: 10px;
  }
  .wrapper ul li.google{
      margin-left: 60px;
  }
}


@media screen and (max-width: 340px){
  .wrapper {
      width: 150px;
  }
  .wrapper ul li{
      margin:15px;
  }
  .wrapper ul li.google{
      margin-left: 15px;
  }
}
