<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="{{ url_for('aboutPage.static', filename='/css/aboutPage.css') }}" >
    <title>עינת עשהאל- אודות</title>
</head>
<body>
<div class="grid-container" >

    <!--Header & Logo & Click Bar-->
      {% include 'header.html' %}

    <!--Page content-->
        <div class="page"><br>אודות
           <br><br><br> <p>
                הטיפול באנשים החל במסגרת עבודתי כדיאטנית, תחילה בבית החולים תל השומר, ואחר כך בקליניקה הפרטית שלי.<br><br>
                במהלך השנים טיפלתי במקרים כמו סכרת, שומנים בדם, לחץ דם ובעיות השמנה ורזון למינהם. <br><br><br><br>

                עם הזמן התחלתי להבין שאצל חלק מהאנשים, קיימים דפוסי אכילה עם התייחסות שונה לאוכל, וכי האוכל אינו מספק רק רעב אלא מספק גם רעב רגשי,<br><br>
                כמו למשל אכילה בולמוסית, או אכילה מצומצמת או אכילה לילית. התפתחה אצלי ההכרה, שיש קשר בין דפוסים אלה לנפש האדם, כאשר האוכל מהווה ביטוי חיצוני לצרכים פנימיים.<br><br>
                שליטה באוכל מחד - עולם חיצוני, ומאידך  עולם פנימי שיש לו את ההתנהלות משלו.<br><br><br><br>

                במסגרת הטיפול בדפוסי אכילה אלה, העמיקה אצלי ההבנה כי ההתייחסות לאוכל, הוא סימפטום רגשי - נפשי, ותחום הנפש הוא בלתי נפרד מבעיות הקשורות לאוכל ואכילה.<br>
            </p>
            <img  src="{{ url_for('homePage.static', filename='/media/aboutPic.png') }}" style="padding-top: 30px">
        </div>

     <!--contact bar (footer)-->
         {% include 'footer.html' %}

   </div>

</body>
</html>