<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/css2.css" >
    <title>עינת עשהאל- אודות</title>
</head>
<body>
<div class="grid-container" >

    <!--Header & Logo-->
        <div class="header" >
            <h1><img src="../images/piclogo.png" alt="Logo Picture" width="5%"> עינת עשהאל - דיאטנית קלינית</h1>
        </div>

    <!--Click Bar-->
    <div class="headerMenu" >
                        <ul class = "Navbar" >

                            <div class="column"><li><a href="../../pages/homePage/templates/1_homePage.html" width="16.6%" style="float: left ">ראשי</a> </li> </div>

                            <div class="column"><li><a href="2_aboutPage.html" width="16.6%" style="float: left ">אודות</a> </li> </div>

                            <div class="column"> <li><a href="3_approachPage.html" width="16.6%" style="float: left ">גישת הטיפול</a></li> </div>

                            <div class="column"><li><a href="4_tipsPage.html" width="16.6%" style="float: left "> טיפים והמלצות</a></li></div>

                            <div class="column"> <li><a href="5_personalStoriesPage.html" width="16.6%" style="float: left ">סיפורי הצלחה</a></li></div>

                            <div class="column">  <li><a href="6_forumPage.html" width="16.6%" style="float: left ">פורום</a></li>  </div>

                            <div class="column">   <li><a href="7_myAreaPage.html" width="16.6%" style="float: left ">איזור אישי</a></li> </div>

                            <div class="column">  <li><a href="8_contactPage.html" width="16.6%" style="float: left ">יצירת קשר</a></li> </div>

                            <div class ="button">
                            <button class="glow-on-hover" type="button" onclick="window.location.href='9_schedulePage.html';" style="font-family:'Baskerville Old Face' ; float: right">קביעת תור  </a></button>
                            </div>

                        </ul>
                    </div>

    <!--Page content-->
        <div class="page"><br>אודות
           <br><br><br> <p>
                הטיפול באנשים החל במסגרת עבודתי כדיאטנית, תחילה בבית החולים תל השומר, ואחר כך בקליניקה הפרטית שלי.<br><br>
                במהלך השנים טיפלתי במקרים כמו סכרת, שומנים בדם, לחץ דם ובעיות השמנה ורזון למינהם. <br><br><br><br>

                עם הזמן התחלתי להבין שאצל חלק מהאנשים, קיימים דפוסי אכילה עם התייחסות שונה לאוכל, וכי האוכל אינו מספק רק רעב אלא מספק גם רעב רגשי,<br><br>
                כמו למשל אכילה בולמוסית, או אכילה מצומצמת או אכילה לילית. התפתחה אצלי ההכרה, שיש קשר בין דפוסים אלה לנפש האדם, כאשר האוכל מהווה ביטוי חיצוני לצרכים פנימיים.<br><br>
                שליטה באוכל מחד - עולם חיצוני, ומאידך  עולם פנימי שיש לו את ההתנהלות משלו.<br><br><br><br>

                במסגרת הטיפול בדפוסי אכילה אלה, העמיקה אצלי ההבנה כי ההתייחסות לאוכל, הוא סימפטום רגשי - נפשי, ותחום הנפש הוא בלתי נפרד מבעיות הקשורות לאוכל ואכילה.<br>
            </p>
            <img src="../images/aboutPic.png" style="padding-top: 30px">
        </div>

    <!--contact bar-->
        <div class="contact"> <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
            <div class="wrapper" style="background-color: #002bff">
            <ul>
                <li class="facebook"><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                <li class="instagram"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                <li class="google"><a href="#"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>
                <li class="whatsapp"><a href="#"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>

              </ul>
            </div>
        </div>

   </div>

</body>
</html>