<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="{{ url_for('aboutPage.static', filename='/css/aboutPage.css') }}" >
    <title>עינת עשהאל- אודות</title>
</head>
<body>
<div class="grid-container" >

      <!--Header & Logo-->
    <div class="header"  >
        <h1 style="font-size:100%; color: #dd6c9f"><img src="{{ url_for('homePage.static', filename='/media/piclogo.png') }}" alt="Logo Picture" width="5%"> עינת עשהאל - דיאטנית קלינית &#9</h1>
    </div>

   <!--Click Bar-->
    <div class="headerMenu" >
                        <ul class = "Navbar" >
                         <div class="column" style="font-size: medium">
                             {% if session['logged_in']%}
                                <h1 style=" text-align: center"> שלום, {{ session['firstName'] }}  </h1>
                                <form action="/logout">
                                   <button type="submit" style=" width:100%; background-color: #c4243c;">התנתק</button>
                                </form>
                                <form action="/detailPage" method="post">
                                   <button type="submit" style=" width:100%; background-color: #39c66c;">פרטיים אישיים</button>
                                </form>
                              {% else %}
                                    <h2> ברוכים הבאים, אורח!</h2>
                                <form action="/loginPage" >
                                   <button type="submit" style=" width:100%; background-color: #dd6c9f;">כניסה</button>
                                </form>
                              {% endif %}
                        </div>

                            <div class="column"><li><a href='/' width="16.6%" style="width:100%">ראשי</a> </li> </div>

                            <div class="column"><li><a href='/aboutPage' width="16.6%" style="width:100%">אודות</a> </li> </div>

                            <div class="column"> <li><a href='/approachPage' width="16.6%" style="width:100%">גישת הטיפול</a></li> </div>

                            <div class="column"><li><a href='/tipsPage' width="16.6%" style="width:100%"> טיפים והמלצות</a></li></div>

                            <div class="column"> <li><a href='/personalStoryPage'  width="16.6%" style="width:100%">סיפורי הצלחה</a></li></div>

                            <div class="column"> <li><a href='/forumPage' width="16.6%" style="width:100%">פורום</a></li>  </div>

                            <div class="column"> <li><a href='/contactPage' width="16.6%" style="width:100%">יצירת קשר</a></li> </div>

                            <div class ="button">
                            <button class="glow-on-hover" type="button" onclick="window.location.href='/schedulePage';" style="float: right ">קביעת תור</button>
                            </div>
                        </ul>
                    </div>



    <!--Page content-->
        <div class="page"><br>אודות
           <br><br><br> <p>
                הטיפול באנשים החל במסגרת עבודתי כדיאטנית, תחילה בבית החולים תל השומר, ואחר כך בקליניקה הפרטית שלי.<br><br>
                במהלך השנים טיפלתי במקרים כמו סכרת, שומנים בדם, לחץ דם ובעיות השמנה ורזון למינהם. <br><br><br><br>

                עם הזמן התחלתי להבין שאצל חלק מהאנשים, קיימים דפוסי אכילה עם התייחסות שונה לאוכל, וכי האוכל אינו מספק רק רעב אלא מספק גם רעב רגשי,<br><br>
                כמו למשל אכילה בולמוסית, או אכילה מצומצמת או אכילה לילית. התפתחה אצלי ההכרה, שיש קשר בין דפוסים אלה לנפש האדם, כאשר האוכל מהווה ביטוי חיצוני לצרכים פנימיים.<br><br>
                שליטה באוכל מחד - עולם חיצוני, ומאידך  עולם פנימי שיש לו את ההתנהלות משלו.<br><br><br><br>

                במסגרת הטיפול בדפוסי אכילה אלה, העמיקה אצלי ההבנה כי ההתייחסות לאוכל, הוא סימפטום רגשי - נפשי, ותחום הנפש הוא בלתי נפרד מבעיות הקשורות לאוכל ואכילה.<br>
            </p>
            <img  src="{{ url_for('homePage.static', filename='/media/aboutPic.png') }}" style="padding-top: 30px">
        </div>

    <!--contact bar-->
        <div class="contact"> <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
            <div class="wrapper" style="background-color: #002bff">
            <ul>
                <li class="facebook"><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                <li class="twitter"><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                <li class="instagram"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
                <li class="google"><a href="#"><i class="fa fa-google fa-2x" aria-hidden="true"></i></a></li>
                <li class="whatsapp"><a href="#"><i class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a></li>

              </ul>
            </div>
        </div>

   </div>

</body>
</html>