<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('forumPage.static', filename='/css/forumPage.css') }}" >
    <title>עינת עשהאל- פורום</title>
</head>
<body>
<div class="grid-container" >

    <!--Header & Logo & Click Bar-->
      {% include 'header.html' %}

    <!--Page content-->
    {% block forum %}
            <div class="page"><br>פורום שאלות
                 <h1> יש להתחבר לאתר לצורך שימוש בפורום</h1>
            </div>
    {% endblock %}

     <!--contact bar (footer)-->
        {% include 'footer.html' %}
   </div>

</body>
</html>