{%  extends 'forumPage.html' %}

{% block forum %}

<div class="page"><br> פורום שאלות
                <div class="contact-box">
                    <form action="/request" method="post">
				        <input type="topic" class="field" id="topic" name="topic" placeholder="נושא חדש" required autocomplete="topic">
				        <textarea placeholder="תוכן התגובה"  id="contentrequest" name="contentrequest" class="field" required></textarea>
				        <button class="btn" type="submit" name="submit" >שליחה</button>
			        </form>
                </div>
           </div>

{% endblock %}