{%  extends 'forumPage.html' %}

{% block forum %}

<div class="page"><br> פורום שאלות
                <div class="contact-box">
                    <form method="POST" , action="/insert_forum">
				        <input type="text" class="field" id="topic" name="topic" placeholder="נושא חדש" required autocomplete="topic">
				        <textarea placeholder="תוכן התגובה"  id="contentrequest" name="contentrequest" class="field" required></textarea>
				        <button class="btn" type="submit" name="submit" >שליחה</button>
			        </form>
                    <form action="/goToComment" method="post">
                    <button class="btn" type="submit" name="submit" >הוסף תגובה לנושא קיים</button>

                    </form>
                </div>


    {% if fullForum %}
    <h1>List of messages:</h1>
    <ul>
    {% for forumMessage in fullForum %}
       {% if forumMessage.responesClientID == None %}
             <li>User ID: {{ forumMessage.clientIDforum }} | Message Date: {{ forumMessage.messageDT }} <br> Content: {{ forumMessage.content }}<br>
             </li>


                {% for forumMessage1 in fullresponses %}
                    {% if forumMessage1.responesClientID == forumMessage.clientIDforum %}
                        <li> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; User ID: {{ forumMessage1.clientIDforum }} | Message Date: {{ forumMessage1.messageDT }} <br>
                             &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Content: {{ forumMessage1.content }} <br>
                        </li>
                        <br>

                    {% endif %}
                {% endfor %}
       {% endif %}
    {% endfor %}
    {% endif %}

    </ul>
  <br>



           </div>

{% endblock %}