<!--Header & Logo-->
    <div class="header"  >
        <h1 style="font-size:100%; color: #dd6c9f"><img src="{{ url_for('homePage.static', filename='/media/piclogo.png') }}" alt="Logo Picture" width="5%"> עינת עשהאל - דיאטנית קלינית &#9</h1>
    </div>
   <!--Click Bar-->
    <div class="headerMenu" >
                        <ul class = "Navbar" >
                         <div class="column" style="font-size: medium">
                             {% if session['logged_in']%}
                                <h1 style=" text-align: center"> שלום, {{ session['firstName'] }}  </h1>
                                <form action="/logout">
                                   <button type="submit" style=" width:100%; background-color: #c4243c;">התנתק</button>
                                </form>
                                <form action="/detailPage" method="post">
                                   <button type="submit" style=" width:100%; background-color: #39c66c;">פרטיים אישיים</button>
                                </form>
                              {% else %}
                                    <h2> ברוכים הבאים, אורח!</h2>
                                <form action="/loginPage" >
                                   <button type="submit" style=" width:100%; background-color: #dd6c9f;">כניסה</button>
                                </form>
                              {% endif %}
                        </div>

                            <div class="column"><li><a href='/' width="16.6%" style="width:100%">ראשי</a> </li> </div>

                            <div class="column"><li><a href='/aboutPage' width="16.6%" style="width:100%">אודות</a> </li> </div>

                            <div class="column"> <li><a href='/approachPage' width="16.6%" style="width:100%">גישת הטיפול</a></li> </div>

                            <div class="column"><li><a href='/tipsPage' width="16.6%" style="width:100%"> טיפים והמלצות</a></li></div>

                            <div class="column"> <li><a href='/personalStoryPage'  width="16.6%" style="width:100%">סיפורי הצלחה</a></li></div>

                            <div class="column"> <li><a href='/forumPage' width="16.6%" style="width:100%">פורום</a></li>  </div>

                            <div class="column"> <li><a href='/contactPage' width="16.6%" style="width:100%">יצירת קשר</a></li> </div>

                            <div class ="button">
                            <button class="glow-on-hover" type="button" onclick="window.location.href='/schedulePage';" style="float: right ">קביעת תור</button>
                            </div>
                        </ul>
                    </div>
